@import url('https://fonts.googleapis.com/css?family=Poppins|Rancho&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.header-color {

  background: #f857a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.landing-grid {
  background: #f857a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 

.projects-grid {
  display: flex;
}
.projects-grid a{
  text-decoration: none; 
}
.projects-grid h3{
  text-transform: uppercase;
  font-size: 1.5em;
  color: #333;
}
/* Resume Page css */
.resume-right-col {
  background: #eee;
  color: #000;
  padding: 2em;
}
.resume-right-col p{
text-align: justify;
}

.resume-right-col hr{
  border-top: 5px solid;
  width: 50%;
  border-image-source: linear-gradient(to right, #ff5858, #f857a6);
  border-image-slice: 1;
}
.resume-left-col hr{
  border-top: 5px solid;
  width: 100%;
  border-image-source: linear-gradient(to right, #ff5858, #f857a6);
  border-image-slice: 1;
}
.progressbar{
  background: #f857a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.resume-left-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* About Me */
.about-col{
  background: #eee;
  padding: 10px;
  height: 100vh;
}
.about-col p{
  font-size: 16px;
}
.about-col hr{
  border-top: 5px solid;
  width: 20%;
  border-image-source: linear-gradient(to right, #ff5858, #f857a6);
  border-image-slice: 1;
}

/* About Me */

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Rancho', cursive;
  letter-spacing: 10px;
  background: linear-gradient(to right, #ff5858, #f857a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-grid a{
  text-decoration: none;
  color: black;
}
.contact-grid a:hover{
  background: linear-gradient(to right, #ff5858, #f857a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}
.contact-list i:hover {
  background: linear-gradient(to right, #ff5858, #f857a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* contact page css */

.avatar-img {
  border-radius: 50%;
  max-width: 210px;
}

.banner-text {
  background-color:#080B0E;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  font-family: 'Rancho', cursive;
  letter-spacing: 10px;
  background: linear-gradient(to right, #ff5858, #f857a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text h2{
  background: linear-gradient(to right, #ff5858, #f857a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.banner-text hr {
  border-top: 5px solid;
  width: 50%;
  margin: auto;
  border-image-source: linear-gradient(to right, #ff5858, #f857a6);
  border-image-slice: 1;
}

.banner-text p {
  background: linear-gradient(to right, #ff5858, #f857a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  padding: 1em;
  font-weight: 400;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  background: linear-gradient(to right, #ff5858, #f857a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em;
  padding: 8px;
}
.social-links a:hover, i:hover{
  background: linear-gradient(to right, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}
.landing-grid{
  top:unset;
}

.mdl-card{
  max-width: 400px;
  width:400px !important;
}

.mdl-navigation a:hover{
  color: #000;
  cursor: default;
}